 	<!-- 商品管理 -->
<div class="button-group" id="merBtnGroup" style="margin-top:10px;">
  <button type="button" class="btn  btn-success" style="width:155px;" ng-click="soldIn()">上架商品</button>
  <button type="button" class="btn  btn-success" style="width:155px;" ng-click="sales()">销量</button>
  <button type="button" class="btn  btn-success"  style="width:155px;" ng-click="stock()">库存</button>
  <button type="button" class="btn  btn-success" style="width:155px;" ng-click="soldOver()">已卖完</button>
  <button type="button" class="btn  btn-success" style="width:155px;"  ng-click="soldOut()">已下架</button>
 <button type="button" class="btn  btn-danger" style="width:155px;margin:10px 0;"  ng-click="addMer()">+添加商品</button>
 </div>
<hr/>
	<!-- 列表、添加、修改 -->
	<div ui-view></div>
	<!-- 列表、添加、修改end -->

<div class="pagination-warp">
  <!-- <ul class="pagination pagination-lg">
    <li>
      <a href="#" id="prevElement" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="pageNumber"><a href="#">1</a></li>
    <li>
      <a href="#" id="nextElement" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul> -->
  <ul class="pagination pagination-lg" id="merPagination"></ul>
</div>